<%- include('partials/header') %>
<br><br><br><br><br><br>
      <div class="col-12 text-center" style="font-family: 'Old Standard TT', serif;">
        <h2 class="text-center font-weight-bold"><u>A Startup with a Story !</u></h2><br><br>
<div>        
        <h3 class="lead">Globalyzing took shape with the vision to build a virtual bridge between the Academia and the Industry. Built on the principle of bringing people together to do ground-breaking work, the start-up, led by its founders Divyam Sharma and Harisam Sharma strives to create an environment where we trust each other, work collaboratively and share deep respect.
          Our focus is on catering to the credible minds who inspire us and to the brightest sparks illuminating the future. We remain grateful to everyone who supports us for believing in our mission. As the world continues to evolve, so will We.
          </h3>
      </div>
<br><br><br><br>
<section id=about-people>
  <div class="row">
    <div class="col-sm-12">
      <img  class="member-img rounded mx-auto d-block" src="/images/photo_divyam.png" alt="photo of the member"><br><br>
        <h4 class="text-center">Divyam Sharma, B.Tech IIT Kharagpur</h4>
      <h5 class="text-center">Cheif Executive Officer</h5>
        <h5 class="text-center">Globalyzing stands tall on its promise of striving for an integrated world. In this respect, we aim to provide the International industry with the kind of Intern/employee pool that lends itself to the growth of the organization, and indeed, the nation itself. Globalyzing seeks to improve upon this goal every minute. We wish this will be a positive experience for all applicants and recruiters and a step forward in improving upon past relations and building new ones.</h5><br><br>
    </div> 
    <div class="col-sm-12">
      <img  class="member-img rounded mx-auto d-block" src="images/photo_hari1.jpeg" alt="photo of the member"><br><br>
        <h4 class="text-center" >Harisam Sharma, B.Tech IIT Delhi</h4>
      <h5 class="text-center">Cheif Technology Officer</h5>
        <h5 class="text-center">Globalyzing is a fervent proponent of the idea of seeing hands on knowledge as an ongoing-process of learning and development, and we endeavour to imbibe the same through internationalisation. We believe that, in times to come, our team will act as a guiding and motivating light to students seeking internationalisation and inter connected corporate-academia across the globe.</h5><br><br>
    </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br>
<%- include('partials/footer')  %>
