<%- include('partials/header-logged-in')  %>

<section id="pricing" class = "apply-cards">

  <h2>A Plan for Every Dog's Needs</h2>
  <p>Simple and affordable price plans for your and your dog.</p>
  <div class="row">
    <div class="col  pricing-coloumn">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#One" aria-expanded="false" aria-controls="collapseOne">
                project #1
              </button>
            </h5>
          </div>
          <div id="One" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-center">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
              <br><br>
              <a href="/profs/5f0e9b555d0951b7c752a069/sop"><button class="btn btn-lg btn-primary" type="button">Apply for this project</button></a>
            </div>
          </div>
        </div>
        <br><br>
    </div>
</div>
</div>


</section>


</body>
</html>
