<%- include('partials/header') %>
<br><br>
<div class="jumbotron" style="background: #d2e1f4">
    <br>
    <h1 class="display-4 text-center">Got any queries?</h1>
    <br><br>
    <h3 class="text-center display-5">Contact us!</h3>
</div>

<div class="container  ">
<div class="col-12 col-md-10 col-lg-8 pricing-coloumn text-center ">
    <div class="card justify-content-center contact-card ">
      <div class="card-header">
        <h3>Our Contact Details :</h3>
      </div>
      <div class="card-body" >
        <h3> email : info@globalyzing.com</h3>
        <h3> mobile : 9821250939</h3>
        <h3>mobile : 9599112663</h3>
      </div>
    </div>
  </div>
  </div>
  <br><br><br><br><br><br><br><br>

</body>
</html>