<%- include('partials/header') %>
<style>
  body{
    background: none;
  }
</style>
     <!-- banner area -->
     <div class="container-fluid banner-area">
      <div class="row">
        <div class=" col-lg-6">
          <div class="header">
              <h1>Property management For NRI's in India</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s.</p> 
              <a href="#what-we-do"><button class="blue-button">Explore Services</button></a>
              <br>
           </div>   
        </div>
        <div class=" col-lg-6">
          <img class="banner-img" src="images/final.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- banner area end -->

    <!-- list of cities-1 -->
    <!-- <div class="container-fluid cities-1">
      <div class="row cities-1-row justify-content-center">
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/pune.png" alt="Pune">
           <br><br>
           <p>Pune</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/bangalore.png" alt="Bangalore">
           <br><br>
           <p>Bangalore</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/hyderabad.png" alt="Hyderabad">
           <br><br>
           <p>Hyderabad</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/gurugram.png" alt="Gurugram">
           <br><br>
           <p>Gurugram</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/noida.png" alt="Noida">
           <br><br>
           <p>Noida</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/chennai.png" alt="Chennai">
           <br><br>
           <p>Chennai</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/delhi.png" alt="Delhi">
           <br><br>
           <p>Delhi</p>
         </div>
         <div class="col-lg-1.5 city-1 text-center">
           <img src="assets/mumbai.png" alt="Mumbai">
           <br><br>
           <p>Mumbai</p>
         </div>
    </div>
   </div>  -->
   <!-- list of cities-1 end-->

   <!-- services -->
   <div class="container-fluid services" id="what-we-do">
     <h1 class="text-center">What We Do</h1>
     <div class="row ">
       <div class="col-lg-3 col-md-6  text-center service-1">
         <img src="images/icon-1.png" alt="Bag">
         <h3> International internships and job support</h3>
         <p>Globalyzing provides a kickstart to your career projectile by aiding 
           students bag internship/job at prestigious universities around the globe.</p>
           <span>Read More<i class="fas fa-arrow-right ml-2"></i></span>
       </div>
       <div class="col-lg-3 col-md-6  text-center service-2">
         <img src="images/icon-2.png" alt="Building">
         <h3 > Semester exchange setups</h3>
         <p>Want to spend a whole semester abroad? 
              We are more than happy to help you get exposed to a wide range of international academic and research paradigms.</p>
           <span>Read More<i class="fas fa-arrow-right ml-2"></i></span>
       </div>
       <div class="col-lg-3 col-md-6 text-center service-3">
         <img  src="images/icon-3.png" alt="House">
         <h3 > International remote research projects</h3>
         <p>Globalyzing connects professors and potential research assistants 
             from around the world. We provide a platform defying 
             all physical boundaries,thus enabling remote research projects to happen.</p>
           <span>Read More<i class="fas fa-arrow-right ml-2"></i></span>
       </div>
       <div class="col-lg-3 col-md-6  text-center service-4">
         <img  src="images/icon-4.png" alt="Agreement">
         <h3> International Doctoral and Postdoctoral Applications</h3>
         <p>We promise you a vibrant beginning for your career in academics and 
             research by aiding you to bag doctoral 
             and postdoctoral positions in all our partner universities.</p>
           <span>Read More<i class="fas fa-arrow-right ml-2"></i></span>
       </div>
     </div>
     <img class="element-7" src="images/element-7.png" alt="Cloud">
     <img class="element-3" src="images/element-3.png" alt="Birds">
   </div>
   <div class="text-center">
     <button class="blue-button">Explore More</button>
   </div>
   <!-- services end -->

   <!-- About -->
   <div class="container-fluid about">
     <div class="row">
       <div class="col-md-12 col-lg-6">
         <img class="about-us-img" src="assets/about-us-img.png" alt="">
       </div>
       <div class="col-md-12 col-lg-6 ">
         <div class="about-col">
         <h1>About Us</h1>
         <p>Students with corporate-intelligentsia, research-aptitude and commendable
            academic record, struggle to set foot abroad, we decided to establish a platform 
            to minimize their ordeals, and thus, Globalyzing was begotten. The 
            the firm is aimed at “globalizing” students across globally reputed universities and 
            firms so as to enable them to freely pursue their topic of interest.We,through our 
            dedicated dashboard of profiles of dynamic students, and a dense 
            network of campus CEOs and international personalities, welcome you all, to be a part of our Virtual Global Village!</p>
           <button class="blue-button lmbtn">Learn More</button>
         </div>
       </div>
     </div>
   </div>
   <!-- about end -->

   <!-- steps -->
   <div class="container-fluid steps">
     <h1 class="text-center">How it Works</h1>
     <div class="row justify-content-center">
       <div class=" col-sm-12 col-md-6 col-lg-4 blue-box step step-1 text-center">
         <img src="assets/icon-step-1.png" alt="">
         <h3>Step 01</h3>
         <p>House owner contacts HouseWise
           representative and authorizes him/her to
           rent out the property(flat/bunglow) on the
           house owner's behalf</p>
       </div>
       <div class=" col-sm-12 col-md-6 col-lg-4 step step-2 text-center">
         <img src="assets/icon-step-2.png" alt="">
         <h3>Step 02</h3>
         <p>House owner hands over keys and relevant
           property documents to the HouseWise
           representative</p>
       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 blue-box step step-3 text-center">
         <img src="assets/icon-step-3.png" alt="">
         <h3>Step 03</h3>
         <p>HouseWise hunts for tenants, the ones
           working with marquee companies and
           looking out for a house on rent.</p>
       </div>
       <div class=" col-sm-12 col-md-6 col-lg-4 step step-4 text-center">
         <img src="assets/icon-step-4.png" alt="">
         <h3>Step 04</h3>
         <p>On finalizing the tenant, HouseWise does the
           following; <br>
           a) Police verification of the prospective tenant <br>
           b) Ask for proof of employment (HR letter) from
           the prospective tenant</p>
       </div>
       <div class=" col-sm-12 col-md-6 col-lg-4 blue-box step step-5 text-center">
         <img src="assets/icon-step-5.png" alt="">
         <h3>Step 05</h3>
         <p>After successful verification of the
           prospective tenant, HouseWise prepare the
           contract to be signed by both parties - house
           owner and the tenant. House owner can preauthorize HouseWise representative to sign
           on the owner's behalf.</p>
       </div>
       <div class=" col-sm-12 col-md-6 col-lg-4 text-center step step-6 ">
         <img src="assets/icon-step-1.png" alt="">
         <h3>Step 06</h3>
         <p>a) Tenant transfers monthly rent to house
           owner's account.
           b) HouseWise continues to maintain
           property till end of the lease.</p>
       </div>
     </div>
     <img class="element-5" src="assets/element-5.png" alt="">
     <img class="element-6" src="assets/element-6.png" alt="">
   </div>
   <!-- steps end -->

   <!-- benefits -->
   <div class="container-fluid benefits">
     <h1 class="text-center">Benefits</h1>
     <div class="row justify-content-center">
       <div class="col-sm-12 col-md-6 col-lg-4 benefit benefit-1 text-center">
         <img src="assets/benefits-3.png" alt="">
         <h3>Lower Risk Profile</h3>
         <p>House owner contacts HouseWise
           representative and authorizes him/her to
           rent out the property(flat/bunglow) on the
           house owner's behalf</p>
       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 benefit benefit-2  text-center">
         <img src="assets/benefits-1.png" alt="">
         <h3>Superior Financing</h3>
         <p>House owner hands over keys and relevant
           property documents to the HouseWise
           representative</p>
       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 benefit benefit-1 text-center">
         <img src="assets/benefits-2.png" alt="">
         <h3>Tax benefits</h3>
         <p>HouseWise hunts for tenants, the ones
           working with marquee companies and
           looking out for a house on rent.</p>
       </div>
     </div>
     <img class="element-4" src="assets/element-4.png" alt="">
   </div>
   <!-- benefits end -->

   <!-- founders and advisors -->
   <div class="container-fluid founders">
     <div class="row justify-content-center">
       <div class="col-sm-12 col-md-12 col-lg-6 founder text-center">
         <img src="images/photo_divyam.png" alt="">
       </div>
       <div class="col-sm-12 col-md-12 col-lg-6 founder">
         <h1>Divyam Sharma</h1>
         <h3>Co-Founder & CEO</h3>
         <h3><em>IIT Kharagpur</em></h3>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting
           industry. Lorem Ipsum has been the industry's standard dummy text
           ever since the 1500s, when an unknown printer took a galley of type and
           scrambled it to make a type specimen book.</p>
       </div>
     </div>
     <img class="element-3-2" src="assets/element-3.png" alt="">
     <img class="element-2" src="assets/element-2.png" alt="">
     <div class="fa-icons">
       <i class="fab fa-linkedin-in linkedin fa-icon"></i>
       <i class="fab fa-twitter twitter fa-icon"></i>
       <i class="fab fa-instagram instagram fa-icon"></i>
       <i class="fab fa-facebook-f facebook fa-icon"></i>
       </div>
     <br><br>
     <hr>
     <div class="row justify-content-center advisors">
     <div class="col-sm-12 col-md-12 col-lg-6 founder order-2 order-lg-1">
       <h1>Harisam Sharma</h1>
       <h3>Co-Founder & CTO</h3>
       <h3><em>IIT Delhi</em></h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting
         industry. Lorem Ipsum has been the industry's standard dummy text
         ever since the 1500s, when an unknown printer took a galley of type and
         scrambled it to make a type specimen book.</p>
     </div>
     <div class="col-sm-12 col-md-12 col-lg-6 founder text-center order-1 order-lg-2">
       <img src="images/photo_hari1.jpeg" alt="">
     </div>
     </div>
   </div>
   <!-- founders and advisors end -->

   <!-- testimony -->
   <div class="testimonials">
     <div class="five-stars text-center">
       <img src="images/star-icon.png" alt="">
       <img src="images/star-icon.png" alt="">
       <img src="images/star-icon.png" alt="">
       <img src="images/star-icon.png" alt="">
       <img src="images/star-icon.png" alt="">
     </div>
     <div class="review text-center">
       <p>"The Campus CEO program of globalyzing.com has instilled in me the values of leadership
          and team management. The competitive remuneration has helped me to become self sustaining
           in life.Tables have turned after my recruitment at globalyzing."</p>
         <h1>Aniket Singh</h1>
         <p>Campus CEO, IIIT Hyderabad </p>
         <img class="review-img-1" src="images/testimonial-2.png" alt="">
     </div>
   </div>
   <!-- testimony end -->

   <!-- links -->
   <div class="container-fluid links">
     <div class="row justify-content-center">
       <div class="col-lg-3 coulumn-1">
         <img src="assets/logo.png" alt="">
         <br>
         <i class="fab fa-linkedin-in linkedin fa-icon-2"></i>
         <i class="fab fa-instagram instagram fa-icon-2"></i>
         <i class="fab fa-twitter twitter fa-icon-2"></i>
         <i class="fab fa-facebook-f facebook fa-icon-2"></i>
         <div class="contact-final">
           <h3 class="">Contact</h3>
           <p><i class="fas fa-envelope contact-icon"></i>info@globalyzing.com</p>
           <p><i class="fas fa-phone contact-icon"></i>+91-9599112663</p>
         </div>
         <div class="address-final">
           <h3 class="">Office Address</h3>
           <p>D-52, MK Residency ,
           Dwarks Sector-11,
           New Delhi,110075</p>
         </div>
       </div>
       <div class="col-lg-3 coulumn coulumn-2">
         <h3>Services</h3>
         <p>End to End Services </p>
         <p>Rental Management</p>
         <p>Property Management</p>
         <p>Online Rent Agreement </p>
       </div>
       <div class="col-lg-3 coulumn coulumn-3">
         <p>Home</p>
         <p>About Us</p>
         <p>Pay Rent</p>
         <p>Submit Property</p>
         <p>careers</p>
         <p>Blogs</p>
       </div>
       <div class="col-lg-3 coulumn coulumn-4">
         <p>Sitemap</p>
         <p>Contact Us</p>
         <p>Terms and Conditions</p>
         <p>Privacy Policy</p>
       </div>
     </div>
   </div>
   <!-- links end -->

   <!-- footer -->
   <div class="footer">
     <p class="text-center">Copyright © 2020 - Globalyzing</p>
   </div>

<%- include('partials/footer')  %>
