<%- include('partials/header-logged-in')  %>

<  <section id="pricing" class = "apply-cards ">
  <div class="row ">
      <div class="col-12 text-center services-heading">
        <h2 ><u>We at Globalyzing offer the following services to aspiring students : </u></h2>
        </div>
  
      <div class="col  pricing-coloumn">
          <div id="accordion">
            <div class="card services-card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#One" aria-expanded="false" aria-controls="collapseOne">
                     <h4> International internships and job support:</h4>
                    </button>
                </h5>
              </div>
              <div id="One" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-center">
                  <h4>Globalyzing provides a kickstart to your career projectile by aiding students bag internship/job at prestigious universities around the globe. </h4>
                  <br><br>
                </div>
              </div>
            </div>
            <br><br>
  
            <div class="card services-card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#Two" aria-expanded="false" aria-controls="collapseOne">
                     <h4> Semester exchange setups:</h4>
                    </button>
                </h5>
              </div>
              <div id="Two" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-center">
                  <h4>Want to spend a whole semester abroad? Does your college lack proper international recognition to make it possible? We are more than happy to help you get exposed to international academic and research paradigms.</h4>
                  <br><br>
                </div>
              </div>
            </div>
            <br><br>
  
            <div class="card services-card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#Three" aria-expanded="false" aria-controls="collapseOne">
                     <h4> International remote research projects:</h4>
                    </button>
                </h5>
              </div>
              <div id="Three" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-center">
                  <h4>Globalyzing envisions connecting professors and potential research assistants from around the world,irrespective of their current place of residence. We provide a platform defying all physical boundaries,thus enabling remote research projects to happen.</h4>
                  <br><br>
                </div>
              </div>
            </div>
            <br><br>
  
            <div class="card services-card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#Four" aria-expanded="false" aria-controls="collapseOne">
                     <h4> International Thesis Supervisors:</h4>
                    </button>
                </h5>
              </div>
              <div id="Four" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-center">
                  <h4>Does your university not have a professor researching your field of interest? It's time to expand your horizon through Globalyzing as we are virtually bringing together members of international academia working on diversified fields of research.</h4>
                  <br><br>
                </div>
              </div>
            </div>
            <br><br>
  
            <div class="card services-card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" id="nameOne" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="collapseOne">
                     <h4>International Doctoral and Postdoctoral Applications:</h4>
                    </button>
                </h5>
              </div>
              <div id="Five" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body text-center">
                  <h4>Team Globalyzing promises you a vibrant beginning for your career in academics and research by aiding you to bag doctoral and postdoctoral positions in all our partner universities.</h4>
                  <br><br>
                </div>
              </div>
            </div>
            <br><br>
  
  
        </div>
    </div>
  
  </div>  
  </section>

<%- include('partials/footer')  %>
