<%- include('partials/header-logged-in')  %>
<br><br><br><br><br><br><br><br><br><br>
]  <div class="text-center">
    <h3>Why Do You Want To Be a Part Of This Project? <br>Answer In Detail </h3>
  </div>
  <br><br>
  <form action="/profs/5f0e9b555d0951b7c752a069/sop" method="POST">
    <center>
  <div class="form-group shadow-textarea">
    <textarea class="z-depth-1" id="exampleFormControlTextarea6" rows="13" cols="120" name="sop" placeholder="Write  here..."></textarea>
  </div>
  </center>
  <div class="text-center">
    <button  type="submit" class="btn btn-lg btn-success">Submit</button>
   </div>
</form>

</body>
</html>