<%- include('partials/header-logged-in')  %>

<header class=" intro-text-profile-apply">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h4 class="lead">Thanks For Applying to This Project . Your Application Has Been saved and sent to the employer.
              You Will be Contacted shortly if Selected.  
             <a href="/apply"><button type="button" class="btn btn-success btn-block">Continue Browsing </button> </a>
          </h4>
        </div>
      </div>
    </div>
  </header>

</body>
</html?